
csr1000v#show run
Building configuration...

Current configuration : 6901 bytes
!
! Last configuration change at 06:06:39 UTC Fri Jan 15 2021 by admin
!
version 17.3
service timestamps debug datetime msec
service timestamps log datetime msec
! Call-home is enabled by Smart-Licensing.
service call-home
platform qfp utilization monitor load 80
platform punt-keepalive disable-kernel-core
platform console virtual
!
hostname csr1000v
!
boot-start-marker
boot-end-marker
!
!
enable secret 9 $t4qyheDFSGzP048sDik
!
no aaa new-model
!
!
ip name-server x.x.x.x
ip domain name x.x.x
!
login on-success log
!
subscriber templating
!
multilink bundle-name authenticated
!
spanning-tree extend system-id
!
username admin privilege 15 secret 9 $TGE$!%#$REHQ#YsgaayRSH
!
redundancy
!
!
interface VirtualPortGroup0
 ip address 192.168.1.1 255.255.255.0
 ip nat inside
 no mop enabled
 no mop sysid
!
interface GigabitEthernet1
 ip address 10.x.x.10 255.255.255.x
 ip nat outside
 negotiation auto
 no mop enabled
 no mop sysid
!
interface GigabitEthernet2
 description test
 no ip address
 shutdown
 negotiation auto
 no mop enabled
 no mop sysid
!
interface GigabitEthernet3
 no ip address
 shutdown
 negotiation auto
 no mop enabled
 no mop sysid
!
iox
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
!
ip nat inside source list NAT-ACL interface GigabitEthernet1 overload
ip route 0.0.0.0 0.0.0.0 10.x.x.1
!
ip access-list extended NAT-ACL
 10 permit ip 192.168.1.0 0.0.0.255 any
!
!
control-plane
!
!
line con 0
 stopbits 1
line vty 0 4
 login local
 transport input ssh
!
!
event manager session cli username "developer"
event manager applet test
 event syslog pattern "%SYS-5-CONFIG_I: Configured from" maxrun 200
 action 0.0 cli command "en"
 action 1.0 cli command "guestshell run python3 configDiff.py"
!
!
app-hosting appid guestshell
 app-vnic gateway0 virtualportgroup 0 guest-interface 0
  guest-ipaddress 192.168.1.2 netmask 255.255.255.0
 name-server0 x.x.x.x
end

csr1000v#
